#canvas1 {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#score {
    color: rgb(227, 101, 101);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.dialog {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    text-align: center;
}

@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkling 5s infinite ease-in-out;
}

#dialog button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    width: 200px;
}

#startEasy {
    background-color: lightgreen;
    color: darkgreen;
}

#startMedium {
    background-color: lightblue;  /* Change the background color of the medium button */
    color: darkblue;  /* Change the text color of the medium button */
}

#startHard {
    background-color: lightcoral;  /* Change the background color of the hard button */
    color: darkred;  /* Change the text color of the hard button */
}

#soundControl {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#finalScore {
    color: rgb(227, 101, 101);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes twinkling {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkling 5s infinite ease-in-out;
}